<div class="layui-body" style="padding: 15px;" >
    <!-- 内容主体区域 -->
    <!--< %- include(path) % >-->
         <%- body %>
        <!--<iframe class="layui-layer-iframe larry-iframe" src="http://www.baidu.com" ></iframe>-->
</div>