<div class="layui-fluid">
    <blockquote class="layui-elem-quote">
        <div class="layui-row">
            <div class="layui-col-md11">
                <span class="layui-breadcrumb">
                  <a><cite>首页</cite></a>
                </span>
            </div>
        </div>
    </blockquote>
    <table id="users" lay-filter="users"></table>
</div>