<div class="layui-fluid">
    <blockquote class="layui-elem-quote">
        <div class="layui-row">
            <div class="layui-col-md11">
                <span class="layui-breadcrumb">
                  <i class="layui-icon">&#xe68e</i>
                  <a href="/">首页 </a>
                  <a href="/access">权限管理</a>
                  <a><cite>权限添加</cite></a>
                </span>
            </div>
            <div class="layui-col-md1">
                <button class="layui-btn" onclick="javascript:history.back(-1);">
                    <i class="layui-icon">&#xe65c;</i> 返回
                </button>
            </div>
        </div>
    </blockquote>
    <div class="layui-elem-field">
        <form class="layui-form" action="" style="padding-top: 20px">
            <div class="layui-form-item">
                <label class="layui-form-label">权限名</label>
                <div class="layui-input-inline">
                    <input type="text" name="access[name]" required lay-verify="required" placeholder="请输入权限名"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">*必填项</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">url</label>
                <div class="layui-input-inline">
                    <input type="text" name="access[urls]" required lay-verify="required" placeholder="请输入url地址"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">*必填项</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="access[status]" value="0" title="禁用">
                    <input type="radio" name="access[status]" value="1" title="启用" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'jquery'], function () {
        var form = layui.form;
        var $ = layui.jquery;

        //监听提交
        form.on('submit(submit)', function (data) {
            console.log(JSON.stringify(data.field));
            $.ajax({
                url: '/access/save',
                type: "post",
                data: data.field,
                success: function (data) {
                    if (data.result == "success") {
                        layer.msg("保存成功", {title: "提示", icon: 1});
                    } else {
                        layer.msg(data.msg, {title: "提示", icon: 2});
                    }
                },
                error: function (err) {
                    console.error(err);
                }
            });
            return false;
        });
    });

</script>

